@using EntityLayer.Concrete
@model List<Job>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDemo.cshtml";
}

<h1>Meslekler</h1>
<br />
<table class="table table-bordered">

    <tr>
       <th>#<th>
       <th>Meslek adi<th>
       <th>Sil<th>
       <th>Guncelle<th>
       <th>Detaylar<th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
           <td>@item.JobID</td>
           <td>@item.JobName</td>
           <td><a href="/Job/DeleteJob/@item.JobID" class="btn btn-danger">Sil</a></td>
           <td><a href="/Job/UpdateJob/@item.JobID" class="btn btn-success">Guncelle</a></td>
           <td><a href="/Job/DetailsJob/@item.JobID" class="btn btn-info">Detaylar</a></td>
        </tr>
    }


</table>


